---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <article class="container">
    <h1>About this project</h1>

    <p>
      I wanted to play around with a couple things for this. Astro, Server
      actions and animations. You can check out the source code for this project
      <a href="https://github.com/sgarcialaguna/wordle-clone" target="_blank"
        >on Github</a
      >
    </p>

    <p>
      Also see <a href="https://santiagogarcia.de/">my homepage</a> for more about
      myself and ways to get in contact with me.
    </p>
  </article>
</Layout>

<style>
  .container {
    color: white;
    padding: 2rem;
  }
  a {
    color: #4493f8;
  }
</style>
