  .board {
    display: grid;
    place-items: center;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    margin-inline: auto;
    width: min-content;
    margin-top: 20px;
  }