  .cell {
      width: 60px;
      height: 60px;
      border: 2px solid #3a3a3c;
      box-sizing: border-box;
      font-family: 'Arial';
      font-size: 2rem;
      font-weight: bold;
      color: white;
      display: grid;
      place-items: center;
      text-transform: capitalize;

      &.has-letter {
          border-color: rgb(86, 87, 88)
      }

      &[data-animation='pop'] {
          animation-name: PopIn;
          animation-duration: 100ms;
      }

      &.correct_position {
          background: #538d4e;
      }

      &.correct_letter {
          background: #b59f3b;
      }

      &.incorrect_letter {
          background: #3a3a3c;
          border-color: #3a3a3c;
      }

  }

  @keyframes PopIn {
      from {
          transform: scale(0.8);
          opacity: 0;
      }

      40% {
          transform: scale(1.1);
          opacity: 1;
      }
  }