  .cell {
      width: 60px;
      height: 60px;
      border: 2px solid #3a3a3c;
      box-sizing: border-box;
      font-family: 'Arial';
      font-size: 2rem;
      font-weight: bold;
      color: white;
      display: grid;
      place-items: center;
      text-transform: capitalize;

      &.has-letter {
          border-color: rgb(86, 87, 88)
      }

      &[data-animation="shake"] {
          animation-name: Shake;
          animation-duration: 600ms;
      }

      &[data-animation="pop"] {
          animation-name: PopIn;
          animation-duration: 100ms;
      }

      &[data-animation="flip"] {
          animation-name: Flip;
          animation-duration: 500ms;
          animation-timing-function: ease-in;
      }

      &[data-state="correct_position"] {
          background: #538d4e;
      }

      &[data-state="correct_letter"] {
          background: #b59f3b;
      }

      &[data-state="incorrect_letter"] {
          background: #3a3a3c;
          border-color: #3a3a3c;
      }

  }

  @keyframes PopIn {
      from {
          transform: scale(0.8);
          opacity: 0;
      }

      40% {
          transform: scale(1.1);
          opacity: 1;
      }
  }

  @keyframes Shake {

      10%,
      90% {
          transform: translateX(-1px);
      }

      20%,
      80% {
          transform: translateX(2px);
      }

      30%,
      50%,
      70% {
          transform: translateX(-4px);
      }

      40%,
      60% {
          transform: translateX(4px);
      }
  }

  @keyframes Flip {
      0% {
          transform: rotateX(0deg);
          background: unset !important;
      }

      50% {
          transform: rotateX(90deg);
          background: unset !important;
      }

      100% {
          transform: rotate(0deg)
      }
  }