.Row {
    display: flex;
    max-width: 500px;
    margin-inline: auto;
    margin-block: 1rem;
    justify-content: center;

}

.Key {
    font-family: var(--font-family);
    font-size: 1.25em;
    font-weight: bold;
    border: 0;
    padding: 0;
    margin: 0 calc(4px * 1.5) 0 0;
    flex: 58px 0 0;
    height: 59px;
    border-radius: 4px;
    cursor: pointer;
    /* cursor: not-allowed; */
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #616263;
    color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    -webkit-tap-highlight-color: rgba(0, 0, 0, .3);

    @media only screen and (max-width: 600px) {
        flex-shrink: 1;
    }

    &.Enter {
        font-size: 0.75em;
    }

    &[data-state="correct_position"] {
        background: var(--correct);
    }

    &[data-state="correct_letter"] {
        background: var(--present)
    }

    &[data-state="incorrect_letter"] {
        background: var(--absent);
    }
}