---

---

<div class="container">
  TODO:
  <ul>
    <li>Functional keyboard</li>
    <li>Cleanup animations</li>
    <li>Prevent further input while animations are playing</li>
    <li>More than one solution, haha</li>
    <li>Validate inputs against dictionary</li>
  </ul>
</div>

<style>
  .container {
    max-width: 500px;
    margin-inline: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
</style>
