---
import Board from "./Board";
import TodoList from "./TodoList.astro";
---

<header></header>
<main>
  <Board client:load />
  <TodoList />
</main>

<style>
  :root {
    --correct: #538d4e;
    --present: #b59f3b;
    --absent: #3a3a3c;
  }

  header {
    height: 56px;
    border-bottom: 1px solid rgb(66, 66, 66);
  }
</style>
