---
// import astroLogo from '../assets/astro.svg';
// import background from '../assets/background.svg';
import Board from "./Board";
---

<header></header>
<main>
  <Board client:load />
  <!-- <div class="board">
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
  </div> -->
</main>

<style is:global>
  header {
    height: 56px;
    border-bottom: 1px solid rgb(66, 66, 66);
  }

  .cell {
    width: 60px;
    height: 60px;
    border: 2px solid #3a3a3c;
    box-sizing: border-box;
  }
</style>
