---
// import astroLogo from '../assets/astro.svg';
// import background from '../assets/background.svg';
import Board from "./Board";
---

<header></header>
<main>
  <Board client:load />
</main>

<style>
  :root {
    --correct: #538d4e;
    --present: #b59f3b;
    --absent: #3a3a3c;
  }

  header {
    height: 56px;
    border-bottom: 1px solid rgb(66, 66, 66);
  }
</style>
